<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/2d82762e22.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vipul Chaudhary</title>
    <link rel="stylesheet" href="../static/mobile.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/images/icon.png" type="image/x-icon">
    <style>
        
    </style>
</head>

<body>
    <header id="body-header">
        <nav>
            <ul class="horizontal-list text-center nav-menu">
                <li>
                    <a href="#"> Home </a>
                </li>
                <li>
                    <a href="#about"> About </a>
                </li>
                <li>
                    <a href="#skills"> Skills </a>
                </li>
                <li>
                    <a href="#Portfolio">Portfolio</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
        <div id="name-social-container">
            <div class="text-center">
                <h1 id="my-name">
                    Vipul Chaudhary
                </h1>
            </div>
            <div>
                <ul class="horizontal-list text-center social-icons">
                    <li>
                        <a href="https://www.linkedin.com/in/vipulchaudhary16"  target="blank">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/vipulchaudhary16" target="blank">
                            <i class="fa fa-github-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/chaudhary.vipul.7737/" target="blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="https://www.instagram.com/vipulchaudhary.js/">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>

            </div>

        </div>
    </header>
    <main>

        <section id="about">
            <div id="my-img">
                <img src="../static/images/20BCP055 Photo.jpg" alt="">
            </div>
            <div id="about-para">
                <p>
                    I am a 19 year old web developing learner and programmer. I love to code and create awesome things that can change the world.I love to explore and learn new things. I am fascinated with how we interact with the world and the internet. I am currently learning web development and programming so I can build cool things on the internet.
                </p>
            </div>
        </section>

        <section id="skills">
            <h1 class="section-heading mb75px ">
                <span>
                    <i class="fas fa-chalkboard-teacher"></i>
                </span>
                <span> SKILLS </span>
            </h1>

            <div class="skills-display">
                <div class="skill-progress">
                    <div class="html-percent color-html transition">
                        <div class="skill-name">
                            <span> HTML </span>
                        </div>
                    </div>
                </div>

                <div class="skill-progress">
                    <div class="css-percent color-css">
                        <div class="skill-name">
                            <span> CSS </span>
                        </div>
                    </div>
                </div>

                <div class="skill-progress">
                    <div class="js-percent color-js">
                        <div class="skill-name">
                            <span> Javascript </span>
                        </div>
                    </div>
                </div>

                <div class="skill-progress">
                    <div class="node-percent color-nodejs">
                        <div class="skill-name">
                            <span> NodeJs </span>
                        </div>
                    </div>
                </div>

                <div class="skill-progress">
                    <div class="cpp-percent color-cpp">
                        <div class="skill-name">
                            <span> C++ </span>
                        </div>
                    </div>
                </div>

                <div class="skill-progress">
                    <div class="java-percent color-java">
                        <div class="skill-name">
                            <span> JAVA</span>
                        </div>
                    </div>
                </div>

                <div class="skill-progress">
                    <div class="py-percent color-py">
                        <div class="skill-name">
                            <span>Python</span>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <section id="Portfolio">
            <h1 class="section-heading mb75px">
                <span>
                    <i class="fas fa-th-list"></i>
                </span>
                <span> Portfolio </span>
            </h1>

            <div id="portfolio-container">
                <!-- //Netflix 2019 -->
                <div class="portfolio-image-container">
                    <img src="../static/images/netflix-2019.jpg">
                    <div class="portfolio-details">
                        <p>
                            <a target="blank" href="https://netflix-2019.netlify.app/">Netflix (2019 Version) Landing page clone using
                                HTML CSS and Javascript.</a>
                        </p>
                    </div>
                </div>


                <!-- //fitness -->
                <div class="portfolio-image-container">
                    <img src="../static/images/fitness.png">
                    <div class="portfolio-details">
                        <p>
                            <a target="blank" href="https://veer-fitness.netlify.app/">Registration site for recently started Gym</a>
                        </p>
                    </div>
                </div>
                
                <!-- //Snack game -->
                <div class="portfolio-image-container">
                    <img src="../static/images/snakes.png">
                    <div class="portfolio-details">
                        <p>
                            <a target="blank" href="https://snakegame-kinj.netlify.app/">Snack Game usnig Javascript
                                With live score update.</a>
                        </p>
                    </div>
                </div>


                <!-- //clock -->
                <div class="portfolio-image-container">
                    <img src="../static/images/clock.png">
                    <div class="portfolio-details">
                        <p>
                            <a target="blank" href="https://analogwatch-vc.netlify.app/">Analog clock with Javascript
                                (Live time Update).</a>
                        </p>
                    </div>
                </div>

                <!-- dance-de-academy -->
                <div class="portfolio-image-container">
                    <img src="../static/images/dancing.png">
                    <div class="portfolio-details">
                        <p>
                            <a target="blank" href="https://dance-de-academy.herokuapp.com/">Dance Acedemy site,
                                saving Data in server.</a>
                        </p>
                    </div>
                </div>

                <!-- Netflix 2021 -->
                <div class="portfolio-image-container">
                    <img src="../static/images/netflix.jpg">
                    <div class="portfolio-details">
                        <p>
                            <a target="blank" href="https://netflix-2021.netlify.app/">Netflix (2021 Version) Landing page clone using
                                HTML CSS and Javascript.</a>
                        </p>
                    </div>
                </div>

                <div class="portfolio-image-container">
                    <img src="../static/images/textUtils.png">
                    <div class="portfolio-details">
                        <p>
                            <a target="blank" href="https://vipulchaudhary16.github.io/Text-Utils-React-App/">TextUtils React App - Perform operations on text</a>
                        </p>
                    </div>
                </div>

                <div class="portfolio-image-container">
                    <img src="../static/images/newsNodes.jpg">
                    <div class="portfolio-details">
                        <p>
                            <a target="blank" href="https://github.com/vipulchaudhary16/NewsApp---ReactJs-">NewsNodes React App - Get the news Now - API Project</a>
                        </p>
                    </div>
                </div>

            </div>

        </section>

        <section id="contact">
            <h1 class="section-heading mb50px">
                <span>
                    <i class="far fa-address-card"></i>
                </span>
                <span> Contact </span>
            </h1>
            <div id="contact-container">

                <div id="my-details-container">

                    <h3> Get In touch </h3>
                    <p> I am a Vipul Chaudhary , You Can Contact me With these information provided if you have any Message or Suggesion for me mail me or fill this form </p>

                    <h3> My Address </h3>
                    <div class="my-details-info-container">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Banaskantha Gujrat</span>
                    </div>
                    <div class="my-details-info-container">
                        <i class="fas fa-mobile-alt"></i>
                        <a href="tel:+919737565473">
                            <span>9737565473</span>
                        </a>
                    </div>
                    <div class="my-details-info-container">
                        <i class="far fa-envelope"></i>
                        <a href="mailto:vipulr6111@gmail.com">
                            <span>vipulr6111@gmail.com</span>
                        </a>
                    </div>
                </div>

                <div id="contact-form-container">
                    <form id="contact-form">
                        <input id="input-name" name="name" type="text" placeholder="Your Name">
                        <input id="input-email" name="input-email" type="text" required placeholder="Your Email">
                        <textarea id="input-message" name="input-message" rows="2" cols=40
                            placeholder="Message"></textarea>
                        <button class="sub-btn" type="submit">SEND MESSAGE</button>
                    </form>
                </div>

            </div>
            <div id="contact-social-container">
                <div>
                    <ul class="horizontal-list text-center social-icons">
                        <li>
                            <a href="https://www.linkedin.com/in/vipulchaudhary16"  target="blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/vipulchaudhary16" target="blank">
                                <i class="fa fa-github-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/chaudhary.vipul.7737/" target="blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="https://www.instagram.com/vipulchaudhary.js/">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </section>
    </main>
</body>

</html>