@media only screen and (max-width: 650px) {
  #body-header {
    height: 40vh !important;
  }
  #name-social-container {
    margin-top: 50px !important;
  }
  #name-social-container .social-icons li a i {
    padding: 8px !important;
    margin-top: 10px;
}
  #my-name {
    font-size: 1.5rem !important;
  }
  #about-para {
    width: 80% !important;
    text-align: left !important;
    font-size: 1.1rem;
  }
  .skills-display {
    width: 90% !important;
    justify-content: space-around !important;
  }
  .skill-progress {
    width: 6rem !important;
    height: 1.5rem !important;
    margin: 5px !important;
  }
  .skill-name {
    font-size: 0.7rem !important;
  }

  .mb75px {
    margin-bottom: 20px !important;
  }
}
