@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
:root{
    --html : 85%;
    --CSS : 80%;
    --js : 60%;
    --nodejs : 55%;
    --cpp:75%;
    --java : 60%;
    --py:60%;
    --rJs:50%;
    --and:20%;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
/* Body Header */

#body-header {
    height: 65vh;
    opacity: 0.8;
    background-image: url(images/header-bg3-edited.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}

/* Horizontal Lists */

.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
}

.horizontal-list li a {
    color: white;
    text-decoration: none;
}

.nav-menu li a {
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover {
    color: bisque;
    transition: color 0.5s, border-bottom 4s;
    border-bottom: 1px solid black;
}

/* Name and Social Icons*/

#name-social-container {
    margin-top: 120px;
    font-family: 'Dancing Script', cursive;
}

#my-name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}


#name-social-container .social-icons li a i:hover {
    box-shadow: 0px 0px 8px 4px rgba(230, 196, 196, 0.3);
}

#name-social-container .social-icons li a i {
    width: 1rem;
    padding: 18px;
}

/*Section Classes*/

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n) {
    background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
    background-color: white;
}

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

/*About Section*/

#about{
    height: auto;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

#my-img{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -15vh;
}

#my-img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow:  0px 0px 20px 18px rgba(230, 196, 196, 0.2);
}

#about-para{
    padding: 10px;
    width: 70%;
    margin: auto;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.2rem;
    
}

/*Skills Section*/

.skills-display {
    width: 70%;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill-progress {
    width: 10rem;
    height: 2rem;
    background-color: lightgrey;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 15px;
    overflow: hidden;
}

.skill-progress > div {
    /*Selection  of direct child only */
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}

.skill-progress:hover {
    box-shadow: 0px 0px 5px 5px #dbdba2;
}

.skill-name{
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;;
    font-size: 1rem;
}

/*Portfolio section*/
#portfolio-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: space-around;
}

.portfolio-image-container {
    max-width: 300px;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.portfolio-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.portfolio-image-container img {
    width:150px;
    height: 150px;
    padding: 10px;
    border-radius: 8%;

}

.portfolio-details a{
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-image-container:hover .portfolio-details a {
    background-color:rgba(0, 0, 0, 0.662);
    color: white;

}

/*Contact Section*/

#contact {
    background: linear-gradient(to bottom right ,#d97b34 ,  #eaedd8 ,  #008000 );
    color: black;
    padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
    color: #2857a4;
}

#contact a{
    text-decoration: none;
    color: black;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
    flex-direction: row;
}

#my-details-container {
    width: 35%;
    margin-left: 6%; 
}

#my-details-container h3 {
    color: #061407;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #061407;
    font-size: 1.2rem;
    font-family: 'Dancing Script', cursive;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    color: #061407;
    font-size: 1rem;
}

.my-details-info-container span {
    margin-left: 0.4rem;
}

.my-details-info-container i {
    color: black;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid black;
    color: #061407;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}

#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid rgb(29, 23, 23);
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: #061407;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*Text utills class */
.text-center {
    text-align: center;
}

/* Common Margin Classes */
.mb75px {
    margin-bottom: 75px;
}
.mb50px {
    margin-bottom: 50px;
}

/* common classes */

/*common color classes */
.color-html{
    background-color: #e04612;
}

.color-css{
    background-color: #227be0;
}

.color-js{
    background-color: #ebc642;
}

.color-nodejs{
    background-color: #25e832;
}

.color-cpp{
    background-color: #188ddb;
}

.color-java{
    background-color: #e85f10;
}

.color-py{
    background:linear-gradient(#0c6dc7,#dbdb14);
}
.color-rJs{
    background:yellowgreen;
}
.color-and{
    background:green;
}

/*Transition class*/
.transition{
    animation: 3s ease-out 0s 1 forwards;
}


.text-highlight {
    color: #2857a4;
    font-weight: 600;
}

/*Percentages classes*/

.html-percent{
    height: inherit;
    width: var(--html);
    animation: html 2s ease-out 0s 1 forwards;
}
@keyframes html{
    from{
        width: 0%;
    }
    to
    {
        width: var(--html);
    }
}

.css-percent {
    height: inherit;
    width: var(--CSS);
    animation: css 2s ease-out 0s 1 forwards;
}
@keyframes css{
    from{
        width: 0%;
    }
    to
    {
        width: var(--CSS);
    }
}

.js-percent {
    height: inherit;
    width: var(--js);
    animation: js 2s ease-out 0s 1 forwards;
}
@keyframes js{
    from{
        width: 0%;
    }
    to
    {
        width: var(--js);
    }
}

.node-percent {
    height: inherit;
    width: var(--nodejs);
    animation: node 2s ease-out 0s 1 forwards;
}
@keyframes node{
    from{
        width: 0%;
    }
    to
    {
        width: var(--nodejs);
    }
}

.cpp-percent{
    height: inherit;
    width: var(--cpp);
    animation: cpp 2s ease-out 0s 1 forwards;
}
@keyframes cpp{
    from{
        width: 0%;
    }
    to
    {
        width: var(--cpp);
    }
}

.java-percent{
    height: inherit;
    width: var(--java);
    animation: java 2s ease-out 0s 1 forwards;
}
@keyframes java{
    from{
        width: 0%;
    }
    to
    {
        width: var(--java);
    }
}

.py-percent{
    height: inherit;
    width: var(--py);
    animation: py 2s ease-out 0s 1 forwards;
}
@keyframes py{
    from{
        width: 0%;
    }
    to
    {
        width: var(--py);
    }
}
.rJs-percent{
    height: inherit;
    width: var(--rJs);
    animation: rJs 2s ease-out 0s 1 forwards;
}
@keyframes rJs{
    from{
        width: 0%;
    }
    to
    {
        width: var(--rJs);
    }
}
.and-percent{
    height: inherit;
    width: var(--and);
    animation: and 2s ease-out 0s 1 forwards;
}
@keyframes and{
    from{
        width: 0%;
    }
    to
    {
        width: var(--and);
    }
}